{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{template "title" .}} - Blog App</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="server/ui/static/img/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
    <header>
        <h1><a href="/">Go Blog</a></h1>
    </header>

    {{ template "nav" .}}

    <main>
        {{template "main" .}}
    </main>

    <footer>
        Powered by <a href="https://go.dev/" target="_blank" rel="noopener noreferrer">Go</a>
    </footer>
</body>

</html>
{{end}}