{{define "title"}}Create a New Blog{{end}}

{{define "main"}}
    <form action="/blog/create" method="POST">
        <div>
            <label>Title:</label>
            <input type="text" name='title'>
        </div>
        <div>
            <label>Author:</label>
            <input type="text" name='author'>
        </div>
        <div>
            <label>Content:</label>
            <textarea name="content" name='content'></textarea>
        </div>
        <div>
            <label>Delete In:</label>
            <input type='radio' name='expires' value='365' checked> One Year
            <input type='radio' name='expires' value='7'> One Week
            <input type='radio' name='expires' value='1'> One Day
        </div>
        <div>
            <input type="submit" value='Publish Blog'>
        </div>
    </form>
{{end}}
